<% include header%>
    <div class="container-fluid">
      
      <div class="jumbotron">
        <h1 class="about-jumbo">About Me</h1>
      </div>
     
      <div class="about me">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <p class="aboutheader"><b>Career Objective:</b></p>
          <p class="aboutcontent">
              To achieve high carrier growth through a continuous learning process and keep myself dynamic, visionary and competitive with the changing scenario of the world..</p>
        
                      
        </div>

        </div>



      </div>




</ul>
<% include footer %>
