<% include header%>         
        </div>
      </nav>
    </div>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Contact Us</h1>

      </div>

    </div>

    <div class="container">
<section class="section">


  <div class="col-lg-4 profile-image">
          <img src="images/Contact-Us.jpg" class="profile-round" alt="Akhil" id = "pic" >
        </div>

    <p class="text-center w-responsive mx-auto mb-5">If you have any queries,Please feel free to Contactus.</p>

    <div class="row">


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">


                <div class="row">


                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="md-form mb-20">
                            <input type="text" id="name" name="name" class="form-control" placeholder=" Name">

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="md-form mb-20">
                            <input type="text" id="email" name="email" class="form-control" placeholder=" Email Id">

                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="md-form mb-20">
                            <input type="text" id="phone" name="phone" class="form-control" placeholder="phone">

                        </div>
                    </div>


                </div>

            </form>

            <div class="text-center text-md-right mb-20">
                <a class="btn btn-primary pd-40">Send</a>
            </div>
            <div class="status"></div>
        </div>


    </div>
     
  </ul>
  <a href="https://github.com/venkatakhilpendem" class="button" >GitHub</a>
  <a href="https://www.linkedin.com/mynetwork/" class="button" >linkedin</a>
  

</section>

</div>
<% include footer%>