<footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ul>
    <li><p>1121 N COLLEGE DR APT 94,Maryville,Mo</p></li>
    <li><p>(660) 528-0885</p></li>
    <li><p>venkatakhil.pendem@gmail.com</p></li>
  
  </ul>
  <a href="https://github.com/venkatakhilpendem" class="button" >GitHub</a>
  <a href="https://www.linkedin.com/mynetwork/" class="button" >linkedin</a>
  
  </footer>
    </body>
  </html>
  