
<% include header%>
           
              
                    <div class="temprature">
                        <header>Temperature Converter</header>
                        <div>
                            <div class="temp-fields">
                                <h3 class="spacing" style="color:green">Celsius</h3>
                                <input id="celsius" value="0"/>
                            </div>
                            <div class="temp-fields">
                                <h3 class="spacing" style="color:green">Fahrenheit</h3>
                                <input id="fahrenheit" value="0"/>
                            </div>
                            <div class="temp-fields">
                                <h3 class="spacing" style="color:green">Kelvin</h3>
                                <input id="kelvin" value="0"/>
                            </div>
                        </div>
                        <div>
                            <button id="submit" class="spacing" type="submit" value="submit">Convert</button>
                            <button id="reset" class="spacing" type="reset" value="reset">Reset</button>
                        </div>
                    </div>
               
      <footer>
      <ul>
        <li><p style = "color: aliceblue" >1121 N COLLEGE DR APT 94,Maryville,Mo</p></li>
        <li><p style = "color: aliceblue">(660) 528-0885</p></li>
        <li><p style = "color: aliceblue">venkatakhil.pendem@gmail.com</p></li>

      </ul>
      </footer>
      
   
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>>
  <script src="js/temperature-converter.js"></script>
  <% include header%>

