.temprature{
    background-image: url(../images/background-canvas-close-up-1020320.jpg);
    height: 30rem;
    width: 20rem;
    color: black;
    margin-left: 30%;
    padding: 5rem;


  }

  .temp-content{
   
  }

